@import 'math';

$spinner-animation-duration: 1s;
$spinner-nb-point: 20;
$spinner-point-color: red !default;
$spinner-alternative-color: blue !default;

.spin-rotate,
.spin-rotate>div {
  position:relative;
  box-sizing:border-box;
}
.spin-rotate{
  display:block;
  font-size:0;
  color:#fff;
  width:32px;
  height:32px;
  animation:spin-rotate 6s infinite linear;

  &>div{
    display:inline-block;
    float:none;
    background-color: currentColor;
    border:0 solid currentColor;
    position:absolute;
    top:50%;
    left:50%;
    width:8px;
    height:8px;
    margin-top:-4px;
    margin-left:-4px;
    border-radius:100%;
    animation:spin-fade $spinner-animation-duration infinite linear, color-pulse $spinner-animation-duration infinite linear;


    $angle: 360deg / $spinner-nb-point;
    @for $i from 1 through $spinner-nb-point {
      &:nth-child(#{$i}) {
        top: sin($i*$angle) * 100% +50%;
        left: cos($i*$angle) * 100% +50%;
        animation-delay:-$spinner-animation-duration / $spinner-nb-point * $i;
      }
    }
  }
}
@keyframes spin-rotate{
  100%{transform:rotate(360deg);}
}
@keyframes spin-fade{
  0%,100%{opacity: 1; transform: scale(1);}
  50%{opacity: .25; transform: scale(0.5);}
}
@keyframes color-pulse {
0%   {background: $spinner-point-color; box-shadow: lighten($spinner-point-color, 20%) 1px 1px 2px;}
50%  {background: $spinner-alternative-color;}
100% {background: $spinner-point-color;}
}
